vllm==0.7.1
transformers==4.48.2
scipy
traitlets>=5.3
jupyter-client>=7.4.4
jupyter-core!=5.0.*,>=4.12
tornado>=6.2.0
traitlets>=5.6.0
ipykernel>=6.5.0
jupyter-core
tornado>=6.2.0
traitlets
python-dateutil>=2.7
ipython
decorator<6.0,>=4.0.2
imageio<3.0,>=2.5
jupyter-core>=4.7
pygments>=2.4.1
traitlets>=5.1
jupyter-core!=5.0.*,>=4.12
traitlets>=5.1
absl-py
opencv-python>=4.0
absl-py
dm-tree
termcolor
scipy>0.18
rich>=11.1.0
anyio==4.8.0
datasets==3.1.0
accelerate==1.2.0
